name: SshKeyMan CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  test-and-build:
    name: Test & Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [ "1.25.5" ]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Verify dependencies
        run: make audit

      - name: Run tests
        run: make unit-tests

      - name: Build binaries
        run: |
          make package
      
      - name: Upload the artifacts
        uses: skx/github-action-publish-binaries@release-1.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'dist/*.run'